# Ignore node_modules directory
node_modules/

# Ignore npm log files
npm-debug.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore environment-specific files
.env

# Ignore compiled code or build artifacts
/build/
/dist/
.history/
