<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Anime Fusion</title>
    <section class="section">
    <div class="container">
      <h1 class="title"> Anime Fusion</h1>
      <p class="subtitle"> Welcome to our <strong> Anime Fusion </strong> Homepage !</p>   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
</head>
<body>
      <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    Navigation Section
                </a>
                <!-- Conditionally render login or logout links -->
                {{#if logged_in}}
                <a href="/homepage">Profile</a> |
                <button class="no-button" id="logout">Logout</button>
                {{else}}
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" href="/login">
                                Login / Signup
                            </a>
                        </div>
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
      </nav>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
</body>
</html>