<!-- Left Section - Top 5 Favorite Anime -->
    <section class="section" style="padding: 1px;">
        <div class="container has-text-centered" style="padding: 2px;">
            <div class="columns">
                <div class="column is-one-fifth" style="padding: 10px;">
                    <div class="modal" id="anime-modal">
                        <div class="modal-background"></div>
                        <div class="modal-card ">
                        <header class="modal-card-head">
                            <p class="modal-card-title" id="modal-title"></p>
                            <button class="delete" aria-label="close" id="close-modal"></button>
                        </header>
                        <section class="modal-card-body" id="modal-description"></section>
                        <section class="modal-card-body" id="modal-image"></section>
                        <footer class="modal-card-foot">
                            <button class="button is-primary" id="close-modal-button">Close</button>
                        </footer>
                        </div>
                    </div>
                        <div class="has-background-info has-text-white p-2">
                            <p class="is-size-5 has-text-centered" style="padding: 10px;">Top 5 Favorite Animes</p>
                        </div>
                        <ol id="top-popular-list" class="is-size-5 is-hoverable" style="list-style-type: none;">
                            <div class="box">
                                <li class="has-background-warning" style="padding: 5px;">
                                    List Item 1
                                </li>
                            </div>
                            <div class="box">
                                <li class="has-background-warning" style="padding: 5px;">
                                    List Item 2
                                </li>
                            </div>
                            <div class="box">
                                <li class="has-background-warning" style="padding: 5px;">
                                    List Item 3
                                </li>
                            </div>
                            <div class="box">
                                <li class="has-background-warning" style="padding: 5px;">
                                    List Item 4
                                </li>
                            </div>
                            <div class="box">
                                <li class="has-background-warning" style="padding: 5px;">
                                    List Item 5
                                </li>
                            </div>
                        </ol>
                </div>
    <section class="section" style="padding: 10px;">
        <div class="container">
                <div class="has-background-info has-text-white p-2">
                    <p class="is-size-5 has-text-centered" style="padding: 10px;">Random Generated Animes</p>
                </div>
            <div class="columns is-multiline">
                <!-- Anime Section 1 -->
                <div class="column is-one-third">
                    <div class="box">
                        <div class="anime-section">
                            <h2 class="anime-title"></h2>
                            <img class="anime-cover fixed-size-image" src="" alt="Cover Image">
                            <P>Description:</P>
                            <p class="anime-description"></p>
                            <ul class="anime-reviews"></ul>
                            <ul class="anime-characters"> Main Characters:</ul>
                        </div>
                         <!-- Like and Dislike buttons and counters add button for watchlist -->
                        <div class="field is-grouped">
                            <p class="control">
                                <button class="button is-success is-medium is-fullwidth" onclick="likeAnime(1)">Like</button>
                            </p>
                            <p class="control">
                                <button class="button is-danger is-medium is-fullwidth" onclick="dislikeAnime(1)">Dislike</button>
                            </p>
                            <!-- adds watchlist button-->
                        </div>
                        <p class="control">
                            <button class="button is-info is-medium is-fullwidth watchlist">Watchlist</button>
                         <!-- modal button -->
                        </p>
                          {{!-- <p class="control">
                            <button class="js-modal-trigger" data-target="animeModal1">description</button>
                        </p> --}}
                        <!-- modal html -->
                        <div id="animeModal1" class="modal">
                        <div class="modal-background"></div>

                            <div class="modal-content">
                                <div class="box">
                                    <div class="anime-section">
                                        <h2 class="anime-title"></h2>
                                        <img class="anime-cover" src="" alt="Cover Image">
                                        <p class="anime-description"></p>
                                        <ul class="anime-reviews"></ul>
                                        <ul class="anime-characters"></ul>
                                    </div>
                                </div>
                               
                        </div>
                            <button class="modal-close is-large" aria-label="close"></button>
                        </div>
                    </div>
                   <style>
                    .anime-description {
                                 max-height: 100px; 
                                    overflow-y: auto;
                        }
                    .anime-characters {
                                 max-height: 50px; 
                                    overflow-y: auto;
                        }
                    .fixed-size-image {
                                width: 200px; 
                                height: 300px;
                    }
                    </style>
                </div>
                 <!-- Anime Section 2 -->
                <div class="column is-one-third">
                    <div class="box">
                        <div class="anime-section">
                           <h2 class="anime-title"></h2>
                            <img class="anime-cover fixed-size-image" src="" alt="Cover Image">
                            <P>Description:</P>
                            <p class="anime-description"></p>
                            <ul class="anime-reviews"></ul>
                            <ul class="anime-characters"> Main Characters:</ul>
                        </div>
                         <!-- Like and Dislike buttons and counters add button for watchlist -->
                        <div class="field is-grouped">
                            <p class="control">
                                <button class="button is-success is-medium is-fullwidth" onclick="likeAnime(2)">Like</button>
                            </p>
                            <p class="control">
                                <button class="button is-danger is-medium is-fullwidth" onclick="dislikeAnime(2)">Dislike</button>
                            </p>
                            <!-- adds watchlist button-->
                        </div>
                        <p class="control">
                            <button class="button is-info is-medium is-fullwidth watchlist">Watchlist</button>
                        </p>
                         {{!-- <p class="control">
                            <button class="js-modal-trigger" data-target="animeModal1">description</button>
                        </p> --}}
                    </div>
                </div>
                <!-- Anime Section 3 -->
                <div class="column is-one-third">
                    <div class="box">
                        <div class="anime-section">
                          <h2 class="anime-title"></h2>
                            <img class="anime-cover fixed-size-image" src="" alt="Cover Image">
                            <P>Description:</P>
                            <p class="anime-description"></p>
                            <ul class="anime-reviews"></ul>
                            <ul class="anime-characters"> Main Characters:</ul>
                        </div>
                        <!-- Like and Dislike buttons and counters add button for watchlist -->
                        <div class="field is-grouped">
                            <p class="control">
                                <button class="button is-success is-medium is-fullwidth" onclick="likeAnime(3)">Like</button>
                            </p>
                            <p class="control">
                                <button class="button is-danger is-medium is-fullwidth" onclick="dislikeAnime(3)">Dislike</button>
                            </p>
                            <!-- adds watchlist button-->
                        </div>
                        <p class="control">
                            <button class="button is-info is-medium is-fullwidth watchlist">Watchlist</button>
                        </p>
                    </div>
                </div>
                <!-- Anime Section 4 -->
                <div class="column is-one-third">
                    <div class="box">
                        <div class="anime-section">
                            <h2 class="anime-title"></h2>
                            <img class="anime-cover fixed-size-image" src="" alt="Cover Image">
                            <P>Description:</P>
                            <p class="anime-description"></p>
                            <ul class="anime-reviews"></ul>
                            <ul class="anime-characters"> Main Characters:</ul>
                        </div>
                        <!-- Like and Dislike buttons and counters add button for watchlist -->
                        <div class="field is-grouped">
                            <p class="control">
                                <button class="button is-success is-medium is-fullwidth" onclick="likeAnime(4)">Like</button>
                            </p>
                            <p class="control">
                                <button class="button is-danger is-medium is-fullwidth" onclick="dislikeAnime(4)">Dislike</button>
                            </p>
                            <!-- adds watchlist button-->
                        </div>
                        <p class="control">
                            <button class="button is-info is-medium is-fullwidth watchlist">Watchlist</button>
                        </p>
                    </div>
                </div>
                 <!-- Anime Section 5 -->
                 <div class="column is-one-third">
                    <div class="box">
                        <div class="anime-section">
                            <h2 class="anime-title"></h2>
                            <img class="anime-cover fixed-size-image" src="" alt="Cover Image">
                            <P>Description:</P>
                            <p class="anime-description"></p>
                            <ul class="anime-reviews"></ul>
                            <ul class="anime-characters"> Main Characters:</ul>
                        </div>
                        <!-- Like and Dislike buttons and counters add button for watchlist -->
                        <div class="field is-grouped">
                            <p class="control">
                                <button class="button is-success is-medium is-fullwidth" onclick="likeAnime(5)">Like</button>
                            </p>
                            <p class="control">
                                <button class="button is-danger is-medium is-fullwidth" onclick="dislikeAnime(5)">Dislike</button>
                            </p>
                            <!-- adds watchlist button-->
                        </div>
                        <p class="control">
                            <button class="button is-info is-medium is-fullwidth watchlist">Watchlist</button>
                        </p>
                    </div>
                </div>
                 <!-- Anime Section 6 -->
                 <div class="column is-one-third">
                    <div class="box">
                        <div class="anime-section">
                           <div class="anime-section">
                            <h2 class="anime-title"></h2>
                            <img class="anime-cover fixed-size-image" src="" alt="Cover Image">
                            <P>Description:</P>
                            <p class="anime-description"></p>
                            <ul class="anime-reviews"></ul>
                            <ul class="anime-characters"> Main Characters:</ul>
                        </div>
                        </div>
                        <!-- Like and Dislike buttons and counters add button for watchlist -->
                        <div class="field is-grouped">
                            <p class="control">
                                <button class="button is-success is-medium is-fullwidth" onclick="likeAnime(6)">Like</button>
                            </p>
                            <p class="control">
                                <button class="button is-danger is-medium is-fullwidth" onclick="dislikeAnime(6)">Dislike</button>
                            </p>
                            <!-- adds watchlist button-->
                        </div>
                        <p class="control">
                            <button class="button is-info is-medium is-fullwidth watchlist">Watchlist</button>
                        </p>
                    </div>
                </div>
              <button id="reload-button">Reload</button>
                <!-- Pop-up Window -->
                <div id="popup" class="modal">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                        <div class="box">
                            <button class="delete" onclick="closePopup()"></button>
                            <h2 id="popupTitle" class="title"></h2>
                            <p id="popupDescription" class="subtitle"></p>
                            <img id="popupImage" src="" alt="Anime Image">
                        </div>
                    </div>   
                </div>
                    <!-- Add a button to navigate to the watchlist page -->
                            <div class="has-text-centered">
                                <a class="button is-primary" href="watchlist.html">Go to Watchlist</a>
                            </div>
            </div>
        </div>
    <!-- Watchlist -->
    </section>
    <section class="section" style="padding: 10px;">
        <div class="has-background-info has-text-white p-2">
            <p class="is-size-5 has-text-centered" style="padding: 10px;"> Watchlist</p>
        </div>  
        <div class="box">   
        <form id="watchListForm">
            <div class="field">
                <label class="label">watchlist items</label>
                <div class="watchList1">
                 <ol class = "animeList">
                  
                 </ol>   
                </div>
            </div>    
        </form>
        </div>
    </section>
    <script src="/js/api.js"></script>
    <script src="/css/style.css"></script>
    <script src="/js/popup.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/topfive.js"></script>
    <script src="/js/modalPop.js"></script>
